# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# unignore makefiles
!makefile
### Above combination will ignore all files without extension ###

# ignore compiled binaries
*.out
# ignore intermediarey object files
*.o


# ignore intermediary files 
*.i